%h1= "ARE WE <span class='small'>small</span> YET?".html_safe

#graph-container
  #graph
  %span
    Lower is better,
    %a{onclick: "$('table.hidden').show()"}= "show more stats"

#here_table

#footer
  = link_to "Sources on GitHub.", "https://github.com/CamJN/arewesmallyet"
