-# coding: UTF-8

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= "ARE WE small YET?"

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

  %body
    = yield
